.font-inter{
  font-family: "Inter";
  font-optical-sizing: auto;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* shared-style */

.btn{
    background-color:#469165;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    padding: 12px 16px;


}


/* main-style */

header{
    padding-top: 16px;
}

nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 346px;
}

.logo img{
    width: 139px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;

}

nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
   
}

#banner{

    background:url(./img/hero-bg.png) center/cover no-repeat;
}



#banner .banner-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 115px 120px 180px;

}
.banner-container .banner-button .btn{
    max-width: 229px;
    margin: 0 auto;
    background-color: white;
    color: #469165;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 1000px;
    margin-bottom: 16px;
}

.banner-heading h1{
    max-width: 770px;
    margin: 0 auto;
    color: white;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;

}
.banner-heading .h2{
    max-width: 770px;
    margin: 0 auto;
    color: #30B868;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
}

.banner-heading .banner-des{
    font-size: 18px;
    color: white;
    line-height: 24px;
    margin-bottom: 32px;
}

.btn-one{
    background-color:#469165;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    padding: 16px;

}


.banner-info .btn-two{
    font-size: 16px;
    font-weight: 600px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 13px;
    border-radius: 4px;
    margin-left: 16px;

}

#note-section .note-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;

}


.note-container .note-heading{
    text-align: center;
    margin: 0 auto;

}

.note-container .note-heading h2{
    font-size: 48px;
    font-weight: bold;
    padding-top: 80px;
    color: #001931;
    margin-bottom: 16px;
    
}
.note-container .note-heading p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
    
}
.note-container .note-box{
    display: flex;
    gap: 24px;
}

.note-box .note-card{
    padding: 70px 24px 30px;
    max-width: 322px;
    text-align: center;
    box-shadow: 0 0 8px 0 #00000020;
    border-radius: 8px;
}

.note-card img{
    max-width: 60px;
    background-color: #F95555;
    border-radius: 100%;
    padding: 10px;
    margin-bottom: 16px;
    
}

.note-card h3{
    max-width: 274px;
    color: #001931;
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 16px;

    
}

.note-card p{
    max-width: 274px;
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;    
}

.note-card .two{
    max-width: 60px;
    background-color: #F95555;
    border-radius: 100%;
    padding: 10px;
    margin-bottom: 2px;
    
}

#sollution{
    width: 81%;
    max-width: 1360px;
    margin: 120px auto;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    
}

#sollution .sollution-img{
    width: 600px;
}

#sollution .sollution-content{
    width: 700px;
    margin: 102px 0px 102px 60px;
}

#sollution .sollution-content h4{
    font-size: 16px;
    line-height: 20px;
    font-weight:400;
    color: #469165;
    margin-bottom: 16px;

}

#sollution .sollution-content h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

#sollution .sollution-content p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}

.sollution-content .checkcircle {
    display: flex;
    align-items: center;
    
}
.sollution-content .checkcircle li{
    display: flex;
    list-style-type: none;
}

.checkcircle img{
    width: 20px;
    margin-bottom: 16px;
    margin-right: 6px;
    

}
.checkcircle ul{
    font-size: 16px;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px;
}

#clearly{

    padding-bottom: 120px;
    
}

#clearly .clearly-container{
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 40px;
    background-color: #F7F6F2;
    border-radius: 12px;
    

}

#clearly .clearly-container h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;

}

#clearly .clearly-container p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
    
}
#clearly .clearly-container .p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;

}

footer{
    /* margin-top: 120px; */
    padding-top: 120px;
    background-color: #001931;

}

footer .footer-container{
    display: flex;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}


.footer-container .footer-logo img{
    width: 139px;
    
}
.footer-container .social{
    width: 220px;
    padding-right: 107px;

}

.footer-container .social h4{
    font-size: 20px;
    line-height: 28px;
    color: white;
    font-weight: 400;
    margin-bottom: 16px;
}

.footer-container .social img{
    width: 20px;
}





