.font-inter{
  font-family: "Inter";
  font-optical-sizing: auto;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* shared-style */

.btn{
    background-color:#469165;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    padding: 12px 16px;


}


/* main-style */

header{
    padding-top: 16px;
}

nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 346px;
}

.logo img{
    width: 139px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;

}

nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
   
}

#banner{

    background:url(./img/hero-bg.png) center/cover no-repeat;
}



#banner .banner-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 115px 120px 180px;

}
.banner-container .banner-button .btn{
    max-width: 229px;
    margin: 0 auto;
    background-color: white;
    color: #469165;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 1000px;
    margin-bottom: 16px;
}

.banner-heading h1{
    max-width: 770px;
    margin: 0 auto;
    color: white;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;

}
.banner-heading .h2{
    max-width: 770px;
    margin: 0 auto;
    color: #30B868;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
}

.banner-heading .banner-des{
    font-size: 18px;
    color: white;
    line-height: 24px;
    margin-bottom: 32px;
}

.btn-one{
    background-color:#469165;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    padding: 16px;

}


.banner-info .btn-two{
    font-size: 16px;
    font-weight: 600px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 13px;
    border-radius: 4px;
    margin-left: 16px;

}

#note-section .note-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;

}


.note-container .note-heading{
    text-align: center;
    margin: 0 auto;

}

.note-container .note-heading h2{
    font-size: 48px;
    font-weight: bold;
    padding-top: 80px;
    color: #001931;
    margin-bottom: 16px;
    
}
.note-container .note-heading p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
    
}
.note-container .note-box{
    display: flex;
    gap: 24px;
}

.note-box .note-card{
    padding: 70px 24px 30px;
    max-width: 322px;
    text-align: center;
    box-shadow: 0 0 8px 0 #00000020;
    border-radius: 8px;
}

.note-card img{
    max-width: 60px;
    background-color: #F95555;
    border-radius: 100%;
    padding: 10px;
    margin-bottom: 16px;
    
}

.note-card h3{
    max-width: 274px;
    color: #001931;
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 16px;

    
}

.note-card p{
    max-width: 274px;
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;    
}

.note-card .two{
    max-width: 60px;
    background-color: #F95555;
    border-radius: 100%;
    padding: 10px;
    margin-bottom: 2px;
    
}







